*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

.vscode/
.idea/
tmc-cli.iml
tmc-cli.ipr
tmc-cli.iws
*.sw*
*~
/tmc

nbactions.xml
/nbproject/
dependency-reduced-pom.xml

# our tmc-cli log files
/logs/

tmc-langs.logl